<div class="page-content">
  <div class="page-container">
    <div class="song-buttons" id="anchor-songs">
      <% @songs.each do |song| %>
          <%= link_to "#anchor-#{song.id}", class: "btn btn-primary" do %>
            <%= song.title %>
          <% end %>
      <% end %>
    </div>

    <div class="instructions">
      <i class="fas fa-hand-point-up"></i>
      <h2>Velldu lag til að sjá textan!</h2>
    </div>

    <% @songs.each do |song| %>
      <div class="song-conatainer" id="anchor-<%= song.id %>">
        <div class="title">
          <h3>
            <i class="fas fa-compact-disc"></i>
            <%= song.title %>
          </h3>
          <h4>
            <i class="fas fa-microphone"></i>
            <%= song.artist %>
          </h4>
        </div>
        <div class="lyrics-container">
          <div class="lyrics-icon-container">
            <i class="fas fa-align-left"></i>
          </div>
          <div class="lyrics">
            <% song.lyric_partials.each do |lyric_partial| %>
              <p><%= lyric_partial.text %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
